
body {
	background-color: #161617;
	font-family: Arial, sans-serif;
	color: #aaa;
	max-width: 1390px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
	cursor: pointer;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 8px;
	margin: 10px 0;
}

.group {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px 0;
}

.color-item {
	display: inline-block;
	align-items: center;
	background-color: black;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 120px;
	text-align: center;
	overflow: hidden;
}

.color-item:hover {
	transform: scale(1.05);
}

.color-square {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 4px;
	margin-bottom: 5px;
	display: inline-block;
}

.color-name {
	font-weight: bold;
	margin-bottom: 4px;
}

.copied-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 8px;
	opacity: 0;
	transition: opacity 0s ease-in, opacity 0.5s ease-out;
	pointer-events: none;
}

@media (max-width: 600px) {
	.color-item {
		width: 100px;
	}
}